name: Backport

on:
  pull_request:
    types: [closed, labeled]

jobs:
  backport:
    name: Backport PR
    if: github.event.pull_request.merged == true && contains(toJSON(github.event.pull_request.labels.*.name), 'backport:')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Create backport PRs
        uses: korthout/backport-action@v3
        with:
          label_pattern: '^backport:(.+)$'
          pull_title: '[${target_branch}] ${pull_title}'
          pull_description: |
            Backport of #${pull_number} to `${target_branch}`.

            ---
            ${pull_description}
